@font-face {
	font-family: UniSans;
    src: url("../fonts/UniSansHeavyCAPS.ttf");
}

input, textarea {
    outline: none;
}

body {
	background-color: white;    
}

textarea {    
    resize: none;
    font-family: Helvetica;
    font-size: 16px;
}

input[type="text"], input[type="password"] {
    font-family: Helvetica;
    font-size: 16px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;    
            box-sizing: border-box;
    min-width: 100%;
}

input[type="submit"], button {
    padding: 5px;
    font-family: UniSans;
    font-size: 18px;
    text-align: center;
    vertical-align: center;
    display: block;
    min-width: 120px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    color: black;
    margin: 10px auto;
}

input[type="submit"]:hover, button:hover {
    color: white;
    background-color: #333333;
}

.hidden {
    display: none;
}

#wrapper {
	margin: 0 25%;
}

#logo {
    cursor: pointer;
	font-family: UniSans, Sans-Serif;
    font-size: 64px;
    color: gray;
    text-align: center;
    margin: 40px;
}

#page-info {
	font-family: UniSans, Sans-Serif;
    font-size: 32px;
    margin-bottom: 40px;
    color: gray;
    text-align: center;
}

#logout, #login {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#profile {
    position: fixed;
    bottom: 60px;
    right: 10px;
}

#own {
    position: fixed;
    bottom: 110px;
    right: 10px;
}

.user-info {
    font-family: UniSans, Sans-Serif;
    font-size: 24px;
}

.message {
    background-color: #EEEEEE;
    color: white;
    height: 80px;
    font-family: Verdana, Sans-Serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    border-radius: 10px;
    margin: 10px;
}

.error {
    background-color: #EE5544
}

.info {
    background-color: #5599EE
}

#post-create-wrapper {
    width: 75%;
    margin: 0 auto;
}

#title, #content {
    display: block;
    width: 100%;
    height: 100%;
    margin: 10px 0;
}

.post {
	margin: 10px 0;
    border: 2px solid gray;
}

.post-title {
    margin: 0 2px;
    font-family: Verdana;
}

.post-head {
    border-bottom: 2px solid gray;
}

.post-footer {
    border-top: 2px solid gray;
}

.post-footer > * {
    display: inline;
    margin: 0 5px;
}

.username {
    display: block;
    float: right;
    font-family: Verdana;
    font-size: 16px;
    margin: 0 2px;
}

.post-text {
    padding: 10px;
    font-family: Helvetica;
    font-size: 18px;
    text-indent: 20px;
}

.username::before {
    content: "";
    background-image: url("/public/images/user.png");
}