#post-create-wrapper {
    background: #454545;
    padding: 10px;
}

#post-create-text {
    display: block;
    min-height: 200px;
    padding: 10px;
    margin: 5px;
    background-color: #333333;
    border: 2px solid white;
    color: white;
}

#post-create-username {
    display: block;
    width: 25%;
    padding: 10px;
    margin: 5px;
    background-color: #333333;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
}

#post-create {
    font-family: Tellural;
    font-size: 14px;
    text-align: center;
    vertical-align: center;
    display: block;
    width: 120px;
    height: 40px;
    margin: 5px;
    background-color: #2255FF;
    border: 2px solid white;
    color: white;
}