.post {
	margin: 10px 0;
    border: 2px solid gray;
}

.post-title {
    margin: 0 2px;
    font-family: Verdana;
}

.post-head {
    border-bottom: 2px solid gray;
}

.username {
    display: block;
    float: right;
    font-family: Verdana;
    font-size: 16px;
    margin: 0 2px;
}

.post-text {
    padding: 10px;
    font-family: Helvetica;
    font-size: 18px;
    text-indent: 20px;
}

.username::before {
    content: "";
    background-image: url("/public/images/user.png");
}

button {
    margin: 10px 0;
}